In [126]:
import random
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import os

In [127]:
def is_nodule(row):
    if row[5:7] == 'NI':
        return True
    else:
        return False

In [128]:
meta = pd.read_csv(r"C:\Users\mm17b2k\Documents\ARCANE\Python\MSc\Data\Meta\meta_info.csv")
meta = meta.drop("is_clean",axis=1)
meta['is_nodule'] = meta['original_image'].apply(lambda row: is_nodule(row))
meta = meta[meta['is_nodule']==True]
meta.reset_index(inplace=True)
print(meta["patient_id"].nunique())
meta

875

,index,patient_id,nodule_no,slice_no,original_image,mask_image,malignancy,is_cancer,is_nodule
0,0,1,0,0,0001_NI000_slice000,0001_MA000_slice000,5,True,True
1,1,1,0,1,0001_NI000_slice001,0001_MA000_slice001,5,True,True
2,2,1,0,2,0001_NI000_slice002,0001_MA000_slice002,5,True,True
3,3,1,0,3,0001_NI000_slice003,0001_MA000_slice003,5,True,True
4,4,1,0,4,0001_NI000_slice004,0001_MA000_slice004,5,True,True
...,...,...,...,...,...,...,...,...,...
13911,13911,1011,3,0,1011_NI003_slice000,1011_MA003_slice000,2,False,True
13912,13912,1011,3,1,1011_NI003_slice001,1011_MA003_slice001,2,False,True
13913,13913,1012,0,0,1012_NI000_slice000,1012_MA000_slice000,2,False,True
13914,13914,1012,0,1,1012_NI000_slice001,1012_MA000_slice001,2,False,True
13915,13915,1012,0,2,1012_NI000_slice002,1012_MA000_slice002,2,False,True

In [129]:
meta_patient_id = list(np.unique(meta['patient_id']))
len(meta_patient_id)
meta_patient_id[20:35]

[21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 33, 34, 35, 36, 37]

In [130]:
def is_train(row,train,val,test):
    if row in train:
        return 'Train'
    elif row in val:
        return 'Validation'
    else:
        return 'Test'

In [131]:
def create_label_segmentation(meta):
    patient_id = list(np.unique(meta['patient_id']))
    train_patient , test_patient = train_test_split(patient_id,test_size= 0.2)
    train_patient, val_patient = train_test_split(train_patient,test_size= 0.13)
    print(len(train_patient),len(val_patient),len(test_patient))
    meta['data_split']= meta['patient_id'].apply(lambda row : is_train(row,train_patient,val_patient,test_patient))
    return meta

In [132]:
# We need to train/test split independently for clean_meta, meta
meta = create_label_segmentation(meta)
print('total_patients', len(meta_patient_id))
meta.to_csv(r"C:\Users\mm17b2k\Documents\ARCANE\Python\MSc\Data\Meta\meta.csv")

609 91 175
total_patients 875

In [133]:
meta.head(30)

,index,patient_id,nodule_no,slice_no,original_image,mask_image,malignancy,is_cancer,is_nodule,data_split
0,0,1,0,0,0001_NI000_slice000,0001_MA000_slice000,5,True,True,Test
1,1,1,0,1,0001_NI000_slice001,0001_MA000_slice001,5,True,True,Test
2,2,1,0,2,0001_NI000_slice002,0001_MA000_slice002,5,True,True,Test
3,3,1,0,3,0001_NI000_slice003,0001_MA000_slice003,5,True,True,Test
4,4,1,0,4,0001_NI000_slice004,0001_MA000_slice004,5,True,True,Test
5,5,1,0,5,0001_NI000_slice005,0001_MA000_slice005,5,True,True,Test
6,6,1,0,6,0001_NI000_slice006,0001_MA000_slice006,5,True,True,Test
7,7,1,0,7,0001_NI000_slice007,0001_MA000_slice007,5,True,True,Test
8,8,2,0,0,0002_NI000_slice000,0002_MA000_slice000,5,True,True,Train
9,9,2,0,1,0002_NI000_slice001,0002_MA000_slice001,5,True,True,Train
10,10,2,0,2,0002_NI000_slice002,0002_MA000_slice002,5,True,True,Train
11,11,2,0,3,0002_NI000_slice003,0002_MA000_slice003,5,True,True,Train
12,12,2,0,4,0002_NI000_slice004,0002_MA000_slice004,5,True,True,Train
13,13,2,0,5,0002_NI000_slice005,0002_MA000_slice005,5,True,True,Train
14,14,2,0,6,0002_NI000_slice006,0002_MA000_slice006,5,True,True,Train
15,15,2,0,7,0002_NI000_slice007,0002_MA000_slice007,5,True,True,Train
16,16,2,0,8,0002_NI000_slice008,0002_MA000_slice008,5,True,True,Train
17,17,2,0,9,0002_NI000_slice009,0002_MA000_slice009,5,True,True,Train
18,18,2,0,10,0002_NI000_slice010,0002_MA000_slice010,5,True,True,Train
19,19,2,0,11,0002_NI000_slice011,0002_MA000_slice011,5,True,True,Train
20,20,2,0,12,0002_NI000_slice012,0002_MA000_slice012,5,True,True,Train
21,21,2,0,13,0002_NI000_slice013,0002_MA000_slice013,5,True,True,Train
22,22,2,0,14,0002_NI000_slice014,0002_MA000_slice014,5,True,True,Train
23,23,2,0,15,0002_NI000_slice015,0002_MA000_slice015,5,True,True,Train
24,24,2,0,16,0002_NI000_slice016,0002_MA000_slice016,5,True,True,Train
25,25,2,0,17,0002_NI000_slice017,0002_MA000_slice017,5,True,True,Train
26,26,2,0,18,0002_NI000_slice018,0002_MA000_slice018,5,True,True,Train
27,27,2,0,19,0002_NI000_slice019,0002_MA000_slice019,5,True,True,Train
28,28,2,0,20,0002_NI000_slice020,0002_MA000_slice020,5,True,True,Train
29,29,2,0,21,0002_NI000_slice021,0002_MA000_slice021,5,True,True,Train

In [134]:
IMAGE_DIR = r"C:\Users\mm17b2k\Documents\ARCANE\Python\MSc\Data\Images"
all_files_list = [f[:-4] for f in os.listdir(IMAGE_DIR)]
all_files_list.sort()       
print(len(all_files_list))
print(all_files_list[0:10])
meta = meta[meta.original_image.isin(all_files_list)]
meta

13852
['0001_NI000_slice000', '0001_NI000_slice001', '0001_NI000_slice002', '0001_NI000_slice003', '0001_NI000_slice004', '0001_NI000_slice005', '0001_NI000_slice006', '0001_NI000_slice007', '0002_NI000_slice000', '0002_NI000_slice001']

,index,patient_id,nodule_no,slice_no,original_image,mask_image,malignancy,is_cancer,is_nodule,data_split
0,0,1,0,0,0001_NI000_slice000,0001_MA000_slice000,5,True,True,Test
1,1,1,0,1,0001_NI000_slice001,0001_MA000_slice001,5,True,True,Test
2,2,1,0,2,0001_NI000_slice002,0001_MA000_slice002,5,True,True,Test
3,3,1,0,3,0001_NI000_slice003,0001_MA000_slice003,5,True,True,Test
4,4,1,0,4,0001_NI000_slice004,0001_MA000_slice004,5,True,True,Test
...,...,...,...,...,...,...,...,...,...,...
13911,13911,1011,3,0,1011_NI003_slice000,1011_MA003_slice000,2,False,True,Train
13912,13912,1011,3,1,1011_NI003_slice001,1011_MA003_slice001,2,False,True,Train
13913,13913,1012,0,0,1012_NI000_slice000,1012_MA000_slice000,2,False,True,Validation
13914,13914,1012,0,1,1012_NI000_slice001,1012_MA000_slice001,2,False,True,Validation
13915,13915,1012,0,2,1012_NI000_slice002,1012_MA000_slice002,2,False,True,Validation

In [135]:
meta.to_csv(r"C:\Users\mm17b2k\Documents\ARCANE\Python\MSc\Data\Meta\meta_mal_nonmal.csv")

In [136]:
meta_mal_ben = meta[~(meta['malignancy'] == 3)]
meta_mal_ben

,index,patient_id,nodule_no,slice_no,original_image,mask_image,malignancy,is_cancer,is_nodule,data_split
0,0,1,0,0,0001_NI000_slice000,0001_MA000_slice000,5,True,True,Test
1,1,1,0,1,0001_NI000_slice001,0001_MA000_slice001,5,True,True,Test
2,2,1,0,2,0001_NI000_slice002,0001_MA000_slice002,5,True,True,Test
3,3,1,0,3,0001_NI000_slice003,0001_MA000_slice003,5,True,True,Test
4,4,1,0,4,0001_NI000_slice004,0001_MA000_slice004,5,True,True,Test
...,...,...,...,...,...,...,...,...,...,...
13911,13911,1011,3,0,1011_NI003_slice000,1011_MA003_slice000,2,False,True,Train
13912,13912,1011,3,1,1011_NI003_slice001,1011_MA003_slice001,2,False,True,Train
13913,13913,1012,0,0,1012_NI000_slice000,1012_MA000_slice000,2,False,True,Validation
13914,13914,1012,0,1,1012_NI000_slice001,1012_MA000_slice001,2,False,True,Validation
13915,13915,1012,0,2,1012_NI000_slice002,1012_MA000_slice002,2,False,True,Validation

In [140]:
meta_mal_ben.to_csv(r"C:\Users\mm17b2k\Documents\ARCANE\Python\MSc\Data\Meta\meta_mal_ben.csv")

# other way

In [61]:
patient_ids = [i for i in range(875)]
train_set, test_set, valid_set = [], [], []

print("70:20:10 split")

while len(train_set) < 612:
    index = random.choice(patient_ids)
    if index not in train_set:
        train_set.append(meta_patient_id[index])
train_set = sorted(train_set)
print(len(train_set))

patient_ids2 = [i for i in range(875) if i not in train_set]

while len(test_set) < 176:
    index = random.choice(patient_ids2)
    if index not in test_set:
        test_set.append(meta_patient_id[index])
test_set = sorted(test_set)
print(len(test_set))

for index in range(875):
    if index not in train_set:
        if index not in test_set:
            valid_set.append(meta_patient_id[index])
valid_set = sorted(valid_set)
print(len(valid_set))

def change_into_string(dataset):
    str_dataset = []
    for index in dataset:
        if len(str(index)) == 1:
            str_dataset.append(str(0) + str(0) + str(0) + str(index))
        if len(str(index)) == 2:
            str_dataset.append(str(0) + str(0) + str(index))
        if len(str(index)) == 3:
            str_dataset.append(str(0) + str(index))
        if len(str(index)) == 4:
            str_dataset.append(str(index))
    return str_dataset

train = change_into_string(train_set)
test = change_into_string(test_set)
valid = change_into_string(valid_set)

70:20:10 split
612
176
466